body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    background-color:#bfc0ba;
    margin: 0 auto;
}


header {
    display: flex;
   flex-direction: column;
   align-items: baseline;
}


footer {
    text-align: center;
}


figure{
    display: block;
    margin-block-start: -280px;
    margin-block-end: 0px;
    margin-inline-start: 500px;
    margin-inline-end: 0px;
    align-items: baseline;
}

 
.name_infa {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}


.skills_education {
    display: flex;
    justify-content: start;
}



.skills {
    margin-left: 170px;
}


.courses_projects {
    display: flex;
    align-items: baseline;
}
 

.projects {
    margin-left: 473px;
    margin-top: 7px;
}


.languages {
    display: flex;
    justify-content: start; 
    margin-block-start: 25px; 
    align-items: baseline;  
}


/* opisanie stilej */


.name {
    text-align: left;
    font-size: 33px;
    font-style: normal;
    font-weight: bolder;
    text-shadow: 1px 1px;
}


.objective, .address {
    margin-top: 50px;
    font-size: 22px;
    background-color: grey;
    border-radius: 10px;
}


.photo {
    border-radius: 80px;
}


.contacts {
    font-size: 22px; 
    font-style: normal;
    margin-bottom: 20px;
}


.infa {
    border-radius: 20px;
    background-color: grey;
    font-size: 25px;
 }


li {
    font: 1em "Georgia", Serif;
    font-style: normal;
    font-size: 20px;
}


p {
    font-size: 20px;
}


h2 {
    font-size: 25px;
}


h2:hover {
    color: rgb(91, 91, 102);
   
}


a{
font-family: Arial, Helvetica;
font-weight: 400;
color: #000;
font-style: normal;
text-decoration: none;
}


a:hover {
    color:white;
}


a[href*="tel"]::before {
    content: "";
    background-image: url(images/whatsapp_PNG19.png);
    background-size: cover;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}


a[href*="tel"]:hover {
    position: relative;
    opacity: 1;
    
}


a[href*="mail"]::before {
    content: "";
    background-image: url(images/gmail_logo_PNG12.png);
    background-size: cover;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}


a[href*="mail"]:hover {
    position: relative;
    opacity: 1;
}


a[href*="hub"]::before {
    content: "";
    background-image: url(images/github_PNG85.png);
    background-size: cover;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle; 
}


a[href*="hub"]:hover {
    position: relative;
    opacity: 1;
}


@media screen and (max-width: 650px) {
    body {
        width: 40%;
        background-color:grey;
    }
}

@media screen and (max-width: 750px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }
}


@media screen and (max-width: 700px) {
    footer {
        display: flex;
        justify-content: end;
    }
}

